*{
    padding: 0;
    margin: 0;
    border: none;
}

/* 因預設的font-size為16px，所以如果要使用rem設置20px，
需要將16px * 62.5% -> 得出10px等於1rem。 之後就使用這種方式設置。*/

html{
    font-size: 62.5%;
}

nav{
    /* width: 100%; */
    height: 4rem; 
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* hamburger menu功能 */
#menu_icon{
    height: 4rem;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    background-color: transparent;
}

#menu_icon img{
    height: 100%;;
    vertical-align: middle;
}

#menu_close_btn{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    background-color: transparent;
}

a {
    font-family: serif;
    color: black;
    text-decoration: none; /*將連結的底線移除 */
}

.navbar .title{
    font-weight: bold;
    margin-left: 1.2rem;
}

.navbar .hamberger_bg{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 58%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, .5); /* 輕柔的陰影。 x偏移 0px, y偏移 4px, 模糊半徑 8px, 擴散半徑 0px, 顏色 */

}

.navbar ul{
    display: flex;  /* 改為水平 */
    list-style: none;   /* 將ul中包裹的li顯示的各項目圓點移除 */
    margin-right: 1.2rem;
}

.ul_nav li{
    padding-left: 3rem;
}

.section_title{
    background-color: #e1f0f7;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    margin: 4rem auto;   /* 左右置中 */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*outline: 10px solid;*/
    margin-bottom: 10rem;
}

.first_part{
    width: 100%; 
    display: grid;
    grid-template-rows: repeat(2, 50px);  /* 設定兩個行位，行的高度都是50px */
    grid-template-columns: repeat(3, 1fr);  /* 明確的標示有多少欄位*/
    /*grid-auto-flow: row;  /* 自動排列物件由左到右，然後自動換行(預設行為) */
    /*grid-auto-columns: 1fr;  /* 設定隱性列的寬度，grid知道每一欄為多少寬度。 這裡設置最小寬度為1fr，確保grid可以自動產生列 */
    gap: 20px;  /* 只設定物件與物件中間的間距 */

}

.first_part img{
    width: 80px;
    height: 50px;
}

.first_part span{
    font-family: serif;
    padding-left: 10px;
}

.bar1{
    grid-column: 1/ span 3;
    background-color: #c8dce5;
    display: flex;
    align-items: center;
}

.bar2{
    grid-column: span 2;
    background-color: #c8dce5;
    display: flex;
    align-items: center;
}

.bar3{
    grid-column: span 1;
    background-color: #c8dce5;
    display: flex;
    align-items: center;
}

.second_part{
    width: 100%; 
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));  /* 告訴 Grid 欄位的最小寬度可以是 0 */
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2rem;
}

.second_part .sec_block{
    display: grid;
    /* width: fit-content; */  /* 不應設定 width: fit-content; (衝突) */
    box-sizing: border-box;
    grid-column: span 1;  /* 先在相同的容器中設置妹個物件各佔一個欄位，若要多佔再新增該物件要佔的欄位數量就好。 */
}

/* 讓所有子元素都疊加在同一個單元格內 */
/* 選擇所有（*）直接（>）位於 class 為 sec_block 的元素內部的子元素。*/
.sec_block > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.sec_block .bgImg{
    height: 100%;
    width: 100%;  /* 確保圖片寬度不會超過它所在的 Grid 項目寬度*/
    object-fit: cover;
    z-index: 1;
}

.sec_block span{
    width: 100%;
    height: 18%;
    background-color: rgba(200,220,229, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: self-end;
    z-index: 2;
}

.sec_block .star{
    display: flex;
    justify-self: end;
    margin: 1rem;
    z-index: 3;
    opacity: .5;
}


/* 只有b1與b6的圖為兩個欄位 */
.second_part .b1{
    object-fit: cover;
    grid-column: 1 / span 2; 
}

.second_part .b6{
    object-fit: cover;
    grid-column: 1 / span 2;
}


/* 設定視窗變動時，內部的物件位置也要跟著調整 */
@media (1200px < width <= 1920px){
    body{
        font-size: 2rem;
    }

    header{
        width: 100%;
    }

    .section_title{
        width: 100%;
        height: 250px;
    }

    .main{
        width: 120rem;
    }

}

@media (600px < width <= 1200px){
    body{
        font-size: 2rem;
    }

    header{
        width: 100%;
    }

    .section_title{
        width: 100%;
        height: 250px;
    }

    .main{
        width: 90%;
    }

    /* bar的部分 */
    .first_part{
        grid-template-columns: repeat(2, minmax(0, 1fr));  /* 告訴 Grid 欄位的最小寬度可以是 0 */
        grid-template-rows: repeat(2, 1fr);
    }

    .bar1{
        grid-column: 1/ span 1;
    }

    .bar2{
        grid-column: span 1;
    }

    .bar3{
        grid-column: span 2;
    }

    /* Content Blocks的部分 */
    .second_part{
        grid-template-columns: repeat(4, minmax(0, 1fr));  /* 告訴 Grid 欄位的最小寬度可以是 0 */
        grid-template-rows: repeat(3, 1fr);
    }

    .second_part .b1{
        grid-column: span 1; 
    }

    .second_part .b6{
        grid-column: span 1;
    }

    .second_part .b9{
        object-fit: cover;
        grid-column: span 2;
    }

    .second_part .b10{
        object-fit: cover;
        grid-column: span 2;
    }
}

@media (360px < width <= 600px){
    body{
        font-size: 2rem;
    }

    header{
        width: 100%;
    }

    #menu_icon{
        display: block;  /* 讓按鈕可以看見 */
    }

    /* 與JavaScript連動的功能 */
    #menu_icon.active{
        display: none;
    }

    /* 與JavaScript連動的功能 */
    .hamberger_bg.active{
        display: block;
        z-index: 98;
    }

    nav .ul_nav{
        display: none;
    }

    /* 與JavaScript連動的功能 */
    .ul_nav.active{
        display: block;
        top: 0;
        right: 0;
        margin-right: 0;
        width: 58%;
        height: 100%;
        z-index: 99;
        text-align: center;
    }

    .ul_nav li{
        padding-left: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /* 與JavaScript連動的功能 */
    #menu_close_btn.active{
        display: block;
        font-family: serif;
        z-index: 100;
    }

    .section_title{
        width: 100%;
        height: 250px;
        font-size: 4rem;
    }

    .main{
        width: 90%;
        justify-content: center;
    }

    /* bar的部分 */
    .first_part{
        grid-template-columns: repeat(1, minmax(0, 1fr));  /* 告訴 Grid 欄位的最小寬度可以是 0 */
        grid-template-rows: repeat(3, 1fr);
    }

    .bar1{
        grid-column: 1/ span 1;
    }

    .bar2{
        grid-column: span 1;
    }

    .bar3{
        grid-column: span 1;
    }

    /* Content Blocks的部分 */
    .second_part{
        grid-template-columns: repeat(1, minmax(0, 1fr));  /* 告訴 Grid 欄位的最小寬度可以是 0 */
        grid-template-rows: repeat(10, 1fr);
    }

    .second_part .sec_block{
        object-fit: cover;
        grid-column: span 1;
    }
}









