*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Fantasy';
}

header {
    width: 100%;
    height: 80px;
    background-color: #223344;
    display: flex;
    justify-content: center;
}

.titleStr {
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    color: #fff;
}

.loginTitle {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.message {
    position: relative;
    padding-top: 20px;
}

.messageStr {
    display: flex;
    justify-content: center;
    font-family: 'Microsoft JhengHei';
}

.logOut {
    height: 20px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.logoutBtn {
    background: none;
    border: none;
    font-family: 'Microsoft JhengHei';
    color: #001aff;
    cursor: pointer;
    text-decoration: underline;

    display: inline;
}

/* .logoutBtn:hover {
    color: #0012b3;
}

.logoutBtn:active {
    color: #cf1c1c;
} */